<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sample Email</title>
</head>
<body>
<span style="font-family: 'Times New Roman'; font-weight: bold"
      th:style="'font-weight:900'">
<p th:text="'Xin chào, ' + ${name} + '!'"></p>
    </span>

<p>Bạn nhận được email này vì chúng tôi nhận được yêu cầu khôi phục mật khẩu cho tài khoản của bạn trên <a href="https://svshare.xyz" th:href="@{https://svshare.xyz}">https://svshare.xyz</a>. Dưới đây là thông tin mới về mật khẩu của bạn:</p>
<p>Mật khẩu mới:  <span style="color: red;">[[${pass}]]</span></p>
<p>Chúng tôi khuyến nghị bạn đổi mật khẩu ngay sau khi đăng nhập để bảo vệ tài khoản của mình. Để thay đổi mật khẩu, vui lòng truy cập <a href="https://svshare.xyz/user/change-password" th:href="@{https://svshare.xyz/user/change-password}">https://svshare.xyz/user/change-password</a>.</p>


<p>Nếu bạn có bất kỳ câu hỏi hoặc cần hỗ trợ, đừng ngần ngại liên hệ với chúng tôi qua địa chỉ email svshare.uni@gmail.com hoặc số điện thoại  0865052262. Chúng tôi sẽ luôn sẵn sàng để giúp bạn.</p>

<p>Cảm ơn bạn một lần nữa và chúc bạn có những trải nghiệm tích cực trên trang web của chúng tôi!</p>

<p><span style="font-family: 'Times New Roman'; font-weight: bold"
         th:style="'font-weight:900'">Trân trọng,</span></p>

<p>svshare.xyz</p>
</body>
</html>
